<h1>Consoles</h1>

<section class="container">
    <div class="sidenav"></div>
    <div class="item">
        <img src="../../assets/ps5_1.png">
        <p>Item</p>
    </div>
    <div class="item">
        <img src="../../assets/ps5_2.jpg">
        <p>Item</p>
    </div>
    <div class="item">
        <img src="../../assets/ps5_3.jpg">
        <p>Item</p>
    </div>
    <div class="item">
        <img src="../../assets/xbox_1.png">
        <p>Item</p>
    </div>
    <div class="item">
        <img src="../../assets/xbox_2.jpg">
        <p>Item</p>
    </div>
    <div class="item">
        <img src="../../assets/xbox_3.png">
        <p>Item</p>
    </div>
    <div class="footer"></div>
</section>
